version: "3.9"
services:
  backend:
    build: ./backend
    container_name: mission4_server
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: mission4_client
    ports:
      - "4000:80"
    depends_on:
      - backend
